main {
    width: 100vw;
    height: 100vh;
}

.btn:hover,
#bar-btns button:hover,
#bar-create:hover,
.bar-list-item:hover,
#send-msg:hover,
.msg:hover,
.create form input[type="submit"]:hover,
.create form button:hover,
.create form div span:hover
{
    filter: brightness(90%);
}

header {
    height: 12%;
    width: 100%;
    background-color: var(--color-cream);
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-right: 1em;
}

#logo p {
    font-size: 1.3rem;
}

#username {
    text-transform: capitalize;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-cream);
    transition: 0.3s;
}

#btn-delete {
    background-color: var(--color-red);
}

#btn-logout {
    background-color: var(--color-dark-blue);
}

section {
    height: 88%;
    width: 100%;
    display: flex;
}

#bar {
    height: 100%;
    width: 30%;
    display: flex;
    flex-flow: column;
}

#bar-btns {
    flex: 0 1 auto;
    display: flex;
}

#bar-btns button, #bar-create {
    width: 50%;
    border: none;
    font-size: 1.2rem;
    padding: .8em 1em;
    cursor: pointer;
    transition: 0.3s;
    color: var(--color-cream);
    background-color: var(--color-light-blue3);
}

#bar-btns button.active {
    background-color: var(--color-dark-blue);
}

#bar-search {
    flex: 0 1 auto;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: .8em 1em;
}

#bar-create {
    flex: 0 1 auto;
    width: 100%;
    background-color: var(--color-light-blue2);
    float:inline-end;
}

#bar-list {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    background-color: var(--color-light-blue3);
}

.bar-list-item {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--color-dark-blue);
}

.bar-list-item p, .bar-list-item span {
    color: var(--color-cream);
}

#show {
    height: 100%;
    width: 70%;
    display: flex;
    flex-flow: column;
    background-color: var(--color-light-blue1);
}

#messages {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 1em;
}

.msg {
    display: table;
    right: 0px;
    margin: 1em 1em 0em 1em;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: var(--color-light-blue);
    transition: 0.3s;
}

.msg.active {
    background-color: var(--color-light-blue3);
}

.msg.active * {
    color: var(--color-cream);
}

.msg-author {
    font-weight: 900;
    font-size: .4rem;
}

.msg-date {
    font-size: .4rem;
}

.msg-text {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.3rem;
}

#send {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
}

#input-msg {
    width: 90%;
    border: none;
    font-size: 1.2rem;
    padding: .8em 1em;
}

#send-msg {
    width: 10%;
    border: none;
    font-size: 1.2rem;
    padding: .8em 1em;
    cursor: pointer;
    transition: 0.3s;
}

.create {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.create form {
    padding: 3em;
    border-radius: 10px;
    background-color: var(--color-light-blue1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
}

.create form h2 {
    text-align: center;
    margin-bottom: 1em;
}

.create form div {
    width: 100%;
    margin: 1em 0em 0em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.create form div span {
    width: 100%;
    margin: .2em 0em;
    padding: .7em;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-light-blue);
}

.create form input, .create form button {
    padding: 1em 2em;
    margin: .5em 0em;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.create form input[type="submit"], #ctv-add {
    color: var(--color-cream);
    background-color: var(--color-red);
    cursor: pointer;
    transition: 0.3s;
}

.create form button {
    margin: .5em 0em;
    color: var(--color-cream);
    background-color: var(--color-dark-blue);
    cursor: pointer;
    transition: 0.3s;
}