:root {
    --color-red: #EB455F;
    --color-cream: #FCFFE7;
    --color-light-blue: #e2f3ff;
    --color-light-blue1: #c0daeb;
    --color-light-blue2: #9ba7ec;
    --color-light-blue3: #5967b4;
    --color-dark-blue: #2B3467;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    color: var(--color-dark-blue);
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    z-index: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(230, 230, 230, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(22, 22, 22, 0.5);
    border-radius: 5px;
}