body {
    background-color: var(--color-cream);
}

main {
    padding: 4em;
}

main, div, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    margin-bottom: 2em;
}

img {
    width: 70px;
    height: 70px;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.2rem;
}

span {
    margin-top: 1em;
}

a {
    border-bottom: 1px solid var(--color-dark-blue);
}

form {
    padding: 3em;
    background-color: var(--color-light-blue1);
    border-radius: 10px;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1em;
}

input {
    padding: 1em 2em;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

#submit {
    color: var(--color-cream);
    background-color: var(--color-red);
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover {
    filter: brightness(90%);
}